.sideLoginform{
    
  box-shadow: 1px 1px 1px 1px #979797;
  display: flow-root;
  flex-direction: column;
  margin: auto;
  padding: 6% 7%;;
  font-size: smaller;
  font-weight: bold;
  font-family: Montserrat;
   width: 20vw;
   background-color: #FBFBFD;
}
.text_Input{
  height: 5vh;
  width: 20vw;
  margin-top: 5%;
  background: #E5E9ED;
  border: 0 solid rgba(208,208,208,0.50);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2.2px;
  font-size: 16px;
  /* font-weight: bold; */
  padding-left: 12px;
  text-align: left;
  color: black;
}
.abcd{
  margin-bottom: 10%;
}
.label{
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 6px;
  
}
.label-input{
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 6px;
  
  width: 150px;
  height: 2px;
  position: relative;
  left: 10px;
  
  
}
.label-input-end {
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  width: 150px;
  height: 2px;
  position: relative;
  left: 10px;
  
}
.mainLoginFormDiv{
  width: 100%;
  padding-top: 15vh;
}
.nextLoginButtonContainer{
  text-align: center;
  cursor: pointer;
  margin-top: 4vh;
}

.nextLoginButtonContainer input{
  display: inline-block;
  padding: 7px 52px;
  font-size: larger;
  font-weight: bold;
  line-height: 1.48;
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  border-radius: 3px;
  color: white;
  background-color: #2196F3;
  
}
.text_Input::placeholder{
  font-size: larger;
  font-family: 'Proxima Nova';
}
.login_text{
  padding-bottom: 7%;
  font-weight: normal;
  font-family: 'Proxima Nova';
  text-align: center;
  font-size: 2.4vh;
  font-weight: bold;
  color: #696969;

}
.forgotPassword{
  margin-top: 6%;
  text-align: center;
  color: #0091FF;
  text-decoration: underline #0091FF;
  cursor: pointer;
  
}
.customModal {
  
  width: 30vw;
  height: 40vh;
  
}
.imageModal{
  width: 23vh;
}
.loginDetailsHeader{
  text-align: center;
  margin-left: 4%;
  font-family: 'Proximo Nova';
  font-size: x-large;
  color: #333238;
  letter-spacing: -0.21px;
}
.enterEmailText{
  color: #333238;
  text-align: center;
  font-family: 'Proximo Nova';
  font-size: smaller;
  /* color: rgba(35,35,39,0.84); */
  letter-spacing: -0.11px;
  margin-left: 4%;
}
.inputLoginModal{
  margin-top: 4%;
  width: 26vw;
  height: 4vh;
  margin-left: 5%;
}

.submitButtonModal{
  text-align: right;
  cursor: pointer;
  /* margin-right: 10.3vh; */
  margin-top: 2vh;
  margin-right: 4vh;
}
.submitButton{
  display: inline-block;
  padding: 6px 27px;
  font-size: smaller;
  font-weight: normal;
  line-height: 1.48;
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  border-radius: 3px;
  color: white;
  background-color: #2196F3;
}

.cancelButton{
    margin-right: 4%;
  display: inline-block;
  padding: 6px 17px;
  font-size: smaller;
  font-weight: normal;
  line-height: 1.48;
  text-align: center;
  white-space: nowrap;
  /* vertical-align: middle; */
  border-radius: 3px;
  color: grey;
  background-color: white;
}

